{% raw %}
  {{__header__}}
{% endraw %}

  <main id="main">
    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2><a href="/blog/index.html">解决方案</a></h2>
          <ol>
            <li><a href="/index.html">首页</a></li>
            <li><a href="/blog/index.html">解决方案</a></li>
          </ol>
        </div>

      </div>
    </section><!-- End Breadcrumbs -->
    {% block content %}

    {% endblock %}
  </main><!-- End #main -->

{% raw %}
  {{__footer__}}
{% endraw %}